.my_info{
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  width: 83%;
  font-size: 30px;
  font-weight: 400;
  color: #484848;
  margin-bottom: 0 !important;
}

.city__rating{
  color: #484848;
  margin-left: 2px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 80%;
  display: flex;
  align-items: center !important;
}

.left__right__container{
  width: 84%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.left__container{
  width: 55%;
  display: flex;
  flex-direction: column;
}

.right__container{
  width: 35%;
  margin-right: 70px;
}

.type__and__hood{
  color: #484848;
  width: 100%;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 450;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
}


.amenity__item{
  color: #484848;
  width: 50%;
  margin: 0;
  padding: 0;
}

.description{
  color: #484848;
}

.rating__section {
  width: 84%;
  display: flex;
  flex-direction: column;

}

.rating__section__ratings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rating__section__item{
  display: flex;
  flex-direction: row;
  width: 45%;
  align-items: center;
  justify-content: space-between;
  color: #484848;
}

.rating__bar__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar{
  border: 3px solid #FF5A5F;
  border-radius: 10px;  
  height: 2px;
  width: 150px;
  margin-right: 2px;
}

.rating__section__reviews{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.review__container{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 20px;
  color: #484848;;
}

.user__date__pic__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40%;
}
.name__date__container{
  display: flex;
  flex-direction: column;
}

.profile__picture{
  height: 60px;
  width: 60px;
  border-radius: 40px;
  margin-right: 10px;
}

.review__name {
  font-size: 20px;
  font-weight: 600;
}

.review__date {
  font-size: 12px;
  font-weight: 200;
}