.listing__link {
  color: #484848;
  text-decoration: none;
  line-height: 16px;
}

.listing__link:hover {
  color: #484848;
  text-decoration: none;
}

.listing__city__title{
  margin-top: 32px;
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #484848;
  width: 300px;
}

.listing__row{
  display: flex;
  flex-direction: row;
  justify-items: center;
  height: 285px;
  width: calc(100vw - var(--scrollbar-width));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  overflow-y: hidden;
}

.listing__link{
  height: 285px;
}
.listing__container{
  display: flex;
  flex-direction: column;
  width: 295px;
}

.listing__container > img {
  width: 100%;
  height: 196px;
  border-radius: 8px 8px 1px 1px;
}

.type__and__city__container {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.listing__name {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: .5px;
  margin-top: 0px;
  text-transform: capitalize;
}

.listing__price {
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
}

.rating__container{
  display: flex;
  flex-direction: row;
}

.rating__number{
  margin-left: 3px;
  font-size: 12px;
  line-height: 18px;
}