.listing-link {
  color: #484848;
  text-decoration: none;
  line-height: 16px;
}

.listing-link:hover {
  color: #484848;
  text-decoration: none;
}

.listing-city-title{
  margin-top: 32px;
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #484848;
  width: 300px;
}

.listing-row{
  display: flex;
  flex-direction: row;
  justify-items: center;
  height: 285px;
  width: calc(100vw - var(--scrollbar-width));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  overflow-y: hidden;
}

.listing-link{
  height: 285px;
}
.listing-container{
  display: flex;
  flex-direction: column;
  width: 295px;
}

.listing-container > img {
  width: 100%;
  height: 196px;
  border-radius: 8px 8px 1px 1px;
}

.type-and-city-container {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.listing-name {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: .5px;
  margin-top: 0px;
  text-transform: capitalize;
}

.listing-price {
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
}

.rating-container{
  display: flex;
  flex-direction: row;
}

.rating-number{
  margin-left: 3px;
  font-size: 12px;
  line-height: 18px;
}




@media screen and (max-width: 480px) { 

.listing-row{
  grid-template-columns: repeat(auto-fill, minmax(428px, 1fr));
  height: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.listing-city-title{
  margin-left: 12vw;
}

.listing-link{
  height: 400px;
}
.listing-container{
  display: flex;
  flex-direction: column;
  width: 428px;
  
}

.listing-container > img {
  height: 284px;
  border-radius: 1px 8px 1px 1px;
}

.home-listing-phone-margin {
margin-left: 20px !important;
}

}