.homtest{
  display: flex;
  flex-direction: column;
  height: max-content;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  padding-bottom: 50px;
}

.home{
  background-image: url("../Images/african_treehouse.jpeg");
  width: calc(100vw - var(--scrollbar-width));
  height: 100vh;
  max-width:100%; 
  background-size: cover;
  background-position: center;

  /* for Searchbox.js alignment */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

