.map-and-listing-container{
  position: fixed;
  overflow-y: scroll;
  top: 80px;
  display: flex;
  flex-direction: row;
}

.searched-listings{
  
  top: 80px;
  height: calc(100vh - 80px);
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(407px, 1fr));
  justify-items: center;
}

.result {
  margin-bottom: 10px;
}

.searched{
  width: 400px;
  height: 360px;
}
#searched-image{
  height: 266px !important;
}