.map-container{
  height: 100vh;
  width: 39.5vw;
  position: fixed;
  left: 60vw;
  top: 80px;
  border-radius: 10px;
}

.map-container > div {
  border-radius: 10px;
  height: 100vh;

}


@media screen and (max-width: 480px) { 
  .map-container-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    
  }
  
  .map-container{
  width: 100vw;
  height: 91%;
  left: 0;
  top: 80;
  overflow-y: visible;
  }
  .map-container > div {
    border-radius: 10px;
    height: 100%;
  
  }
  #map-listing{
    width: 200px;
    margin-left: 0px



  }
  #map-listing > img{
    height: 150px;
    width: 200px;
  }


  #root > div > div.map-container-container > div > div > div > div > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(4) > div > div > div > div > div {
    padding-right: 12px;
    padding-bottom: 12px;
  }

}